# Compiled Object files
*.pyc
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Code::Blocks non-essential files
*.depend
*.depend.*
*.layout
*.layout.*

# Code::Blocks binary directory
bin/

# Netcat scripts
*.nc

# Emacs back-up files
*~

# Partial products from tenzing2root
tenzing2root/application/sendIntegration/*.h
tenzing2root/application/sendIntegration/*.c
tenzing2root/application/sendIntegration/*.x
tenzing2root/application/sendIntegration/dataFaker
